.box {
  width: 100%;
  height: auto;
  display: inline-block;
}

.box-1 {
  display: flex;
  background-color: #ed4c5c;
  align-items: center;
}
.box-2 {
  background-color: #ffffff;
}
.box-3 {
  background: #fafafa;
}
h1 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
h2 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #ffffff;
}
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.title-1 {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  
.photo {
  width: 50%;
}
.main-text-1 {
  
}
.text-box {
  width: 50%;
}
